body {
    margin: 0px;
    background-color: rgb(29, 31, 32);
}
model-viewer {
    border: 0px;
    height: 720px;
    width: 1000px;
}
.text {
    color: white;
    font-family: arial;
    font-size: 20px;
    font-weight: 200;
}
@media (max-width: 620px) {
    model-viewer {
        height: 840px;
        width: 400px;
    }
}
html
{
    background: linear-gradient(#FFF 30%, #AAA 90%);
}